<p>Please enter the verification code sent to your email.</p>
<p>Codes expire after 30 minutes.</p>

<div class="form-floating my-3">
    <input 
        type="text" 
        class="form-control" 
        id="code"
        name="code" 
        placeholder=""
        required
    >
    <label for="code">Email Code</label>
</div>

<button class="w-100 btn btn-lg btn-primary" type="submit">
    Verify
</button>

<p class="mt-2">Click <a href="/send-verification">here</a> to resend code.</p>