<div class="py-4">

    <label class="form-label" for="lesson-image">
        Upload Image
    </label>
    <input 
        type="file" 
        class="form-control"
        name="component_image" 
        accept="image/png, image/jpeg" 
    >
</div>