<div class="py-4" enctype="multipart/form-data">

    <label class="form-label" for="lesson-video">
        Upload Video
    </label>
    <input 
        type="file" 
        class="form-control"
        name="component_video" 
        accept="video/mp4" 
    >
</div>
