<p>Hello <%= user.firstName%>,</p>
<p>
    A password reset request was requested for this account.
    If this wasn't you please ignore this message.
</p>
<p>
    Click this 
    <a href="https://127.0.0.1:3000/reset-password/<%=code%>">link</a>
    to reset your password.
</p>
<p>This link expires in 30 minutes.</p>
<p>- Custom Courseware </p>