<div 
    class="col mock  "
    data-slide-id="<%= slide.id %>"
    data-slide-title="<%= slide.title %>"
>
    <div class="p-3 mx-2 bg-secondary bg-opacity-10 rounded-4 ">
        <div class="pb-3 pt-5 px-2"><h3 class="title"><%= slide.title %></h3></div>
    </div>    
</div>
